.bg-1 {
    background-color: #1C2826;
    color: #FFFAFA;
}
.bg-2 {
    background-color: #7A7A7A;
    color: #FFFAFA;
}

.container-fluid {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
body {
    background-color: #DBD7D2;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -md-flexbox;
  display: flex;
}